<a href="https://colab.research.google.com/github/FrancescoGazzani/CoderDS1/blob/main/ProyectoDS_ParteI_Gazzani_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# importar la libreria
import pandas as pd

In [8]:
from google.colab import drive


# Montar el sistema de archivos de Google Drive
drive.mount('/content/drive')

# Ruta al archivo CSV
file_path = '/content/drive/MyDrive/Coder_DS_1/Remote Salaries.csv'

# Leer el archivo CSV en un DataFrame de pandas
df = pd.read_csv(file_path, delimiter=';')

df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,MI,FT,Data Scientist,120000,USD,120000,AU,0,AU,S
1,2024,MI,FT,Data Scientist,70000,USD,70000,AU,0,AU,S
2,2024,MI,CT,Data Scientist,130000,USD,130000,US,0,US,M
3,2024,MI,CT,Data Scientist,110000,USD,110000,US,0,US,M
4,2024,MI,FT,Data Science Manager,240000,USD,240000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
16489,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
16490,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
16491,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
16492,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
16493,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

Breve explicacion de los atributos

* work_year: The year in which the salary data was collected (e.g., 2024).
* experience_level: The level of experience of the employee (e.g., MI for Mid-Level).
* employment_type: The type of employment (e.g., FT for Full-Time).
* job_title: The title of the job (e.g., Data Scientist).
* salary: The salary amount.
* salary_currency: The currency in which the salary is denominated (e.g., USD for US Dollars).
* salary_in_usd: The salary amount converted to US Dollars.
* employee_residence: The country of residence of the employee (e.g., AU for Australia).
* remote_ratio: The ratio indicating the level of remote work (0 for no remote work).
* company_location: The location of the company (e.g., AU for Australia).
* company_size: The size of the company (e.g., S for Small).